{
  "extends": "standard",
  "plugins": [
    "html",
    "react"
  ],
  "rules": {
    "no-new": "off",
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error",
  },
  "parserOptions":{
    "parser": "babel-eslint"
  }
}